<div class="flex sm:gap-4 gap-1">
    <div>
        <i class="bi bi-{{ icon }}" style="font-size: 2rem;"></i>
    </div>

    <div class="flex flex-col gap-2">
        <h3 class="text-xl font-semibold text-black dark:text-white">{{ title }}
        </h3>
        <p class="text-gray-900 dark:text-gray-100">
            <span class="block mb-2">{{ body | safe }}</span>
            {% if link %}<a href="{{ link }}">{% if lang == "de" %}Projekte ansehen{% else %}View Projects{% endif %}<i
                    class="bi bi-arrow-right pl-2"></i></a>{%
            endif %}
        </p>
    </div>
</div>