<div class="flex mt-4">
    <span class="hidden md:inline-block w-3/12 items-start mr-4">{{ time_span }}</span>
    <span class="inline-block w-full md:w-8/12 mb-2">
        <h3>{{ title }}</h3>
        <span class="sm:inline-block md:hidden text-gray-400 italic">{{ time_span }} | </span>
        <span class="text-gray-400 italic">{{ company }}</span>
        {% if document_file -%}
        <a href="/documents/{{ document_file }}" target="_blank">
            <i {% if document_title %}title="{{ document_title}}" {% endif %} class="bi bi-file-earmark-pdf ml-4"
                style="font-size: 1rem;"></i>
        </a>
        {%- endif -%}
    </span>
</div>

<div class="flex">
    <span class="hidden md:inline-block w-3/12 mr-4"></span>
    <span class="inline-block w-full md:w-8/12 leading-relaxed">
        {{ body | safe }}
    </span>
</div>