{% import "macros/content.html" as content -%}
<div class="flex mt-4">
    <span class="hidden md:inline-block w-3/12 items-start mr-4">{{ time_span }}</span>
    <span class="inline-block w-full md:w-8/12 mb-2">
        <h3>{{ title }}</h3>
        <span class="inline-block md:hidden text-gray-400 italic">{{ time_span }} | </span>
        <span class="text-gray-400 italic">{{ company }}</span>
        {% if document_file -%}
        <a href="/documents/{{ document_file }}" target="_blank">
            {% if document_title %}{{ content::icon(id="pdf", label=document_title) }}{% else %}{{ content::icon(id="pdf") }}{% endif %}
        </a>
        {%- endif -%}
    </span>
</div>