{% extends "project-portfolio/templates/index.html" %}

{% block content %}

<div class="flex items-center flex-col mt-16">
    <h1>{{ section.title }}</h1>
    {% if config.extra.index.slogan %}
    <p class="mb-6 text-center text-lg italic">{{ config.extra.index.slogan | safe }}</p>
    {% endif %}
    {% if config.extra.index.image %}
    <img class="rounded-full h-40 w-40"
        src="{{ content::base_path() }}{{ config.extra.index.image }}" {% if
        config.extra.index.image_alt %}alt="{{ config.extra.index.image_alt }}" {% endif %}>
    {% endif %}
    <div class="grid grid-flow-col gap-4 mt-7">
        {{ content::social_links(i18n=i18n, icons=icons) }}
    </div>

    <!-- My Focus / Expertise -->
    <div class="flex gap-x-8 mt-8 p-4 justify-center">
        {% set page = get_page(path="expertise.md", lang=lang) %}
        <div
            class="flex flex-col w-full border border-2 border-base-300 rounded-xl p-5 shadow-2xl bg-base-200">
            <h2>{{ page["title"] }}</h2>
            <div class="w-full grid md:grid-cols-2 grid-cols-1 gap-4 mt-8">
                {{ page["content"] | safe }}
            </div>
        </div>
    </div>
</div>

{% endblock %}